api = "0.6"

[buildpack]
  description = "A Cloud Native Buildpack with an order definition suitable for Rust applications"
  homepage = "https://github.com/paketo-community/rust"
  id = "paketo-community/rust"
  keywords = ["rust", "composite"]
  name = "Rust Build Pack"
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/rust/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "buildpack.toml"]

[[order]]

  [[order.group]]
    id = "paketo-community/rustup"
    version = "1.1.2"

  [[order.group]]
    id = "paketo-community/rust-dist"
    version = "1.4.1"

  [[order.group]]
    id = "paketo-community/cargo"
    version = "0.2.1"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.0.2"
