description = "A sample Builder for using Rust related CNBs"

buildpacks = [
  { id = "paketo-community/rustup",    uri = "docker://docker.io/paketocommunity/rustup:1.0.0" },
  { id = "paketo-community/rust-dist", uri = "docker://docker.io/paketocommunity/rust-dist:1.1.0" },
  { id = "paketo-community/cargo",     uri = "docker://docker.io/paketocommunity/cargo:0.0.12" },
  { id = "paketo-buildpacks/procfile", uri = "docker://gcr.io/paketo-buildpacks/procfile:4.4.0" },
]

[[order]]

group = [
    { id = "paketo-community/rustup"},
    { id = "paketo-community/rust-dist"},
    { id = "paketo-community/cargo"},
    { id = "paketo-buildpacks/procfile", optional=true},
]

[stack]
  id = "io.buildpacks.stacks.bionic"
  build-image = "gcr.io/paketo-buildpacks/build:base-cnb"
  run-image = "gcr.io/paketo-buildpacks/run:base-cnb"

# Swap the stack if you want more packages
# [stack]
#   id = "io.buildpacks.stacks.bionic"
#   build-image = "gcr.io/paketo-buildpacks/build:full-cnb-cf"
#   run-image = "gcr.io/paketo-buildpacks/run:full-cnb-cf"

# Swap the stack if you want less packages
# [stack]
#   id = "io.paketo.stacks.tiny"
#   build-image = "gcr.io/paketo-buildpacks/build:tiny-cnb"
#   run-image = "gcr.io/paketo-buildpacks/run:tiny-cnb"
