description = "A sample Builder for using Rust related CNBs"

[[buildpacks]]
  id = "paketo-community/rustup"
  uri = "docker://docker.io/paketocommunity/rustup:1.13.0"

[[buildpacks]]
  id = "paketo-community/rust-dist"
  uri = "docker://docker.io/paketocommunity/rust-dist:1.36.0"

[[buildpacks]]
  id = "paketo-buildpacks/syft"
  uri = "docker://docker.io/paketobuildpacks/syft:2.7.0"

[[buildpacks]]
  id = "paketo-community/cargo"
  uri = "docker://docker.io/paketocommunity/cargo:0.13.0"

[[buildpacks]]
  id = "paketo-buildpacks/procfile"
  uri = "docker://docker.io/paketobuildpacks/procfile:5.10.2"

[[order]]

  [[order.group]]
    id = "paketo-community/rustup"

  [[order.group]]
    id = "paketo-community/rust-dist"

  [[order.group]]
    id = "paketo-buildpacks/syft"

  [[order.group]]
    id = "paketo-community/cargo"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-tiny"
  id = "io.buildpacks.stacks.jammy.tiny"
  run-image = "docker.io/paketobuildpacks/run-jammy-tiny"
