description = "A sample Builder for using Rust related CNBs"

[[buildpacks]]
  id = "paketo-community/rustup"
  uri = "docker://docker.io/paketocommunity/rustup:1.9.3"

[[buildpacks]]
  id = "paketo-community/rust-dist"
  uri = "docker://docker.io/paketocommunity/rust-dist:1.23.0"

[[buildpacks]]
  id = "paketo-buildpacks/syft"
  uri = "docker://gcr.io/paketo-buildpacks/syft:1.41.1"

[[buildpacks]]
  id = "paketo-community/cargo"
  uri = "docker://docker.io/paketocommunity/cargo:0.10.3"

[[buildpacks]]
  id = "paketo-buildpacks/procfile"
  uri = "docker://gcr.io/paketo-buildpacks/procfile:5.6.7"

[[order]]

  [[order.group]]
    id = "paketo-community/rustup"

  [[order.group]]
    id = "paketo-community/rust-dist"

  [[order.group]]
    id = "paketo-buildpacks/syft"

  [[order.group]]
    id = "paketo-community/cargo"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true

[stack]
  build-image = "docker.io/paketobuildpacks/build-jammy-tiny"
  id = "io.buildpacks.stacks.jammy.tiny"
  run-image = "docker.io/paketobuildpacks/run-jammy-tiny"
